<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="firstName">First Name</label>
  <input id="firstName" th:field="*{firstName}" type="text"/>
  <label for="lastName">Last Name</label>
  <input id="lastName" th:field="*{lastName}" type="text"/>
  <label for="password">Password</label>
  <input id="password" th:field="*{password}" type="text"/>
  <br/>
  <br/>
    <div>
        <label>Roles:</label>
        <th:block th:each="role : ${allRoles}">
            <input type="checkbox" th:text="${role.name}" th:field="*{roles}" th:value="${role.name}"/>
        </th:block>
    </div>
    <br/>
    <br/>
  <input type="submit" value="Update user"/>
</form>
</body>
</html>